@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
}

body{

    background: linear-gradient(330deg, #ff6600, #5f26009a) no-repeat;

    margin-left: 13px;
    margin-right: 13px;
    min-height: 100vh;
    height: 100%;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    max-width: 100vw;
}

.header .container-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
}

.header .container-header .logo{
    margin:13px;
    max-width: 74px;
    max-height: 74px;
    min-width: 74px;
    min-height: 74px;
    border-radius: 50%;
    overflow: hidden;
    text-align: justify;
}

.header .container-header .logo img{
    max-width: 100%;
    max-height: 100%;
}

.header .container-header .container-nav-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;
    align-content: center;
    width: 636px;
}

.header .container-header .container-nav-menu img{
    width: 48px;
    height: 48px;
}

.header .container-header .container-nav-menu .search{
    min-width: 100px;
    margin-right: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    justify-content: space-around;
}

input{
    background-color: transparent;
    border: #980F30 solid 2px;
    color:black;
    height: 48px;
    min-width: 100px;
    font-size: 30px;
}

.line-top{
    width: 100%;
    height: 1px;
    background-color: #980F30 ;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    max-width: 100vw;
}

section article{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    width: 100%;
}

section article .text{
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: 13px;
}

section h1{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 13px;
}

section h3{
    font-size: 24px;
    line-height: 24px;
}

article .imgs .big-img{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

article .imgs .big-img .big-img1{
    border: #980F30 solid 2px;
    margin:13px;
    min-width: 396px;
    min-height: 396px;
    max-width: 396px;
    max-height: 396px;
    border-radius: 50%;
    overflow: hidden;
}

article .imgs .big-img .big-img1 img{
    width: 100%;
    height: 100%;
}

article .imgs .small-img{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

article .imgs .small-img1 , .small-img2{
    border: #980F30 solid 2px;
    margin:13px;
    min-width: 193px;
    min-height: 193px;
    max-width: 193px;
    max-height: 193px;
    border-radius: 50%;
    overflow: hidden;
}

article .imgs .small-img1 img{
    width: 100%;
    height: 100%;
}

article .imgs .small-img2 img{
    width: 100%;
    height: 100%;
}

.line-botton{
    width: 100%;
    height: 1px;
    background-color: #980F30 ;
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 13px;
    margin-bottom: 13px;
    max-width: 1440px;
    width: 100%;
}

footer .social-network{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 13px;
    margin-bottom: 13px;
    width: 100%;
}

footer .insta, .linkedin, .github{
    border-radius: 50%;
    width: 72px;
    height: 72px;
}

footer .insta{
    max-width: 72px;
    max-height: 72px;
    min-width: 72px;
    min-height: 72px;
    border-radius: 50%;
    text-align: justify;
}

footer .insta img{
    max-height: 72px;
    max-width: 72px;
}

footer .linkedin{
    max-width: 72px;
    max-height: 72px;
    min-width: 72px;
    min-height: 72px;
    border-radius: 50%;
    text-align: justify;
}

footer .linkedin img{
    max-height: 72px;
    max-width: 72px;
}

footer .github{
    max-width: 72px;
    max-height: 72px;
    min-width: 72px;
    min-height: 72px;
    border-radius: 50%;
    text-align: justify;
}

footer .github img{
    max-height: 72px;
    max-width: 72px;
}

footer .contact{
    width: 396px;
}

@keyframes gradient{
    from{
        background-position: 0 50%;
    }

    to{
        background-position: 100% 50%;
    }
}

@media (max-width: 1040px){
    section article{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 446px 1fr;
        grid-template-areas: "imgs"
		                     "text";
        width: 100%;
    }

    section article .imgs{
        grid-area: imgs;
        margin-top: 200px;
    }

    section article .imgs .big-img{
        justify-content: center;
    }

    article .imgs .small-img{
        justify-content: center;
    }

    section article .text{
        grid-area: text;
        margin-top: 200px;
    }

}

@media (max-width: 560px){
    input{
        display: none;
    }

    article .imgs .big-img .big-img1{
        min-width: 50px;
        min-height: 50px;
    }

    article .imgs .small-img1 , .small-img2{
        min-width: 50px;
        min-height: 50px;
    }

    section h1{
        font-size: 35px;
        line-height: 35px;
    }

    footer{
        flex-wrap: wrap;
    }
}